:root
{
    --cardVermelho : #FF0000;
    --cardAmarelo : #ff9900;
    --cardAzul : #007bff;
    --cardVerde : #37ff00;
    --cardNone : #fffaf0;
}

section ul:not(#listaClassificar)
{
	list-style: none;
	width: 100%;
	height: 100%;
	overflow-y: auto;
	border-radius: 10px;
	box-shadow: 0px 4px 20px rgb(0 0 0 / 25%);
    background-color: var(--cardNone);
}

ul::-webkit-scrollbar {
	width: 5px; /* largura da barra de rolagem */
  }
ul::-webkit-scrollbar-thumb {
	background-color: red; /* cor da barra de rolagem */
  }

.ul-container
{
	position: relative;
	width: 90%;
	height: 85%;
}
.s-esquerda
.ul-container
{
	left: 20px;
}
.s-direita
.ul-container
{
	right: -52px;
}
h6
{
	text-align: end;
	font-style: normal;
	border-radius: 10px 10px 0 0;
	color: var(--fonteH6);
	/* border-top: 1px white solid; */
}

h6:not(.h6-naoImportante)
{
	font-size: 16px;
  width: 50%;
}
.etiqueta
{
	display: flex;
	align-items: center;
	margin-left: 22px;
}

.editaEtiqueta
{
  display:block;
	width: 20px;
	height: 20px;
	background-image: url('../icon/editar.svg');
	background-repeat: no-repeat;
	background-position: center center;
	margin-left: 10px;
	opacity: 0.5;
	cursor: pointer;
  background-color: transparent;
}
.salvaEtiqueta
{
  display: none;
	width: 10px;
	height: 10px;
	background-image: url('../icon/salvar.svg');
	background-repeat: no-repeat;
	background-position: center center;
	margin-left: 10px;
	cursor: pointer;
}
.salvaEtiqueta.visivel,.editaEtiqueta.visivel
{
  display: block;
}
.editaEtiqueta:hover
{
	opacity: 1;
}
.etiqueta #h6Altera
{
  height: 24px;
  display: none;
}
.etiqueta #h6Altera.visivel{
  display: block;
}
.esquerda-baixo .h6-urgente,
.direita-baixo .h6-naoUrgente
{
	border-top: none;
	border-bottom: 1px white solid;
	border-radius: 0 0 10px 10px;
}
.h6-naoImportante
{
	font-size: 24px;
}
.s-esquerda
.esquerda-baixo
.h6-urgente
{
	padding: 10px;
	bottom: -50px;
}
.s-esquerda
.esquerda-cima
.h6-urgente
{
	padding: 10px;
    top: -58px;
}
/* div para selecionar a cor do card ul */
.esquerda-cima .layout,
.direita-cima .layout
{
	position: absolute;
	top: -29px;
	right: 8px;
	height: 29px;
	border-radius: 10px 10px 0 0;
	background-color: #d0d0d7;
	display: flex;
	justify-content: space-around;
	align-items: center;
	box-shadow: 0px 4px 20px rgb(0 0 0 / 25%);
}
.esquerda-baixo .layout,
.direita-baixo .layout
{
	position: absolute;
	top: -29px;
	right: 8px;
	height: 29px;
	border-radius: 10px 10px 0 0;
	background-color: #d0d0d7;
	display: flex;
	justify-content: space-around;
	align-items: center;
	box-shadow: 0px 4px 20px rgb(0 0 0 / 25%);
}
.esquerda-cima,
.esquerda-baixo,
.direita-cima,
.direita-baixo
{
	height: 100%;
	transition: height 0.5s ease-in-out;
}
.h6-importante, .h6-naoImportante
{
	transform: rotate(-90deg);
}
.s-esquerda
.esquerda-cima
.h6-importante
{
	padding: 10px;
	left: -115px;
	top: 120px;
}
.s-esquerda
.esquerda-baixo
.h6-naoImportante
{
	padding: 10px;
	left: -145px;
	bottom: 115px;
}
/* div direita */
.s-direita
.direita-cima
.h6-naoUrgente
{
	padding: 10px;
	right: 115px;
	top: -58px;
}
.s-direita
.direita-cima
.h6-importante
{
	padding: 10px;
	right: -115px;
    transform: rotate(90deg);
    top: 122px;
}
.s-direita
.direita-baixo
.h6-naoUrgente
{
	padding: 10px;
	right: 74px;
	bottom: -50px;
}
.s-direita .direita-baixo .h6-naoImportante
{
	padding: 10px;
	transform: rotate(90deg);
	right: -140px;
	bottom: 120px;
}
/* bolinha de cor  */
.layout
span
{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	cursor: pointer;
    /* display: flex; */
    align-items: center;
    justify-content: center;
}

.layout
span#vermelho
{
	background-color: var(--cardVermelho);
}

.layout
span#amarelo
{
	background-color: var(--cardAmarelo);
}

.layout
span#azul
{
	background-color: var(--cardAzul);
}
.layout
span#verde
{
	background-color: var(--cardVerde);
}
.layout
span#ativo
{
	background-image: url('../icon/excluirUL.svg');
    background-repeat: no-repeat;
    background-position: center center;
}
.layout
span#minimizar
{
	background-image: url('../icon/minimiza.svg');
    background-repeat: no-repeat;
    background-position: center center;
}
.layout
span#maximizar
{
	background-image: url('../icon/maximiza.svg');
    background-repeat: no-repeat;
    background-position: center center;
}
.ampliar
{
	position: absolute;
	right: -42px;
	top: 45%;
	text-align: center;
	padding: 16px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
	box-shadow: 0px 4px 20px rgb(0 0 0 / 25%);
	cursor: pointer;
	background-image: url('../icon/search.svg');
	background-repeat: no-repeat;
	background-position: center center;
	filter: invert(100%) sepia(100%) hue-rotate(180deg);
}
.ampliar:hover,
.ampliarD:hover
{
	box-shadow: none;
	background-color: gray;
	color: white;
}
.ampliarD
{
	position: absolute;
	left: -42px;
	top: 45%;
	text-align: center;
	padding: 16px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
	box-shadow: 0px 4px 20px rgb(0 0 0 / 25%);
	cursor: pointer;
	background-image: url('../icon/search.svg');
	background-repeat: no-repeat;
	background-position: center center;
	filter: invert(100%) sepia(100%) hue-rotate(180deg);
}
.minimizar
{
  height: 50px;
}
.some
{
  display: none;
}
.aparece
{
  display: flex;
}
