.modal
{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.727);
    align-items: center;
    justify-content: center;
    z-index: 1;
}
.principal
{
    position: relative;
    min-width: 80%;
    border-radius: 17px;
}
.fechar
{
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-image: url('../icon/fechar.svg');
    background-repeat: no-repeat;
    background-position: center center;

}
.fechar:hover
{
    color: white;
}
